/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
html,
body ,
#root{
  height: 100%;
   width:100%
}

main{
  height: 100%;
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem;
}

main .left,main .right{

  height: 100%;
  flex-basis: 50%;
  border-radius: 0.6rem;


}

main .left{
background-color: black;
position: relative;
}


main .left  .review{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: blueviolet;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
}

.left .code, .code pre, .code pre code{

height: 100%;
width: 100%;
margin: 0;
border-radius: 0.7rem;
background-color: rgb(72, 71, 71);
}


main .right{
  background-color: #343434;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  overflow: auto ;

}
